
@model webtnonline.Models.student
@{
    ViewBag.Title = "slogin";
    Layout = null;

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
    </title>
    <link rel="stylesheet" href="~/Content/Assets/css/style.min.css">
    <link rel="stylesheet" href="~/Content/Assets/css/materialize.min.css">

    <script src="~/Content/Assets/js/materialize.min.js"></script>
</head>

<body class="bg-login">
    <div id="status" class="status"></div>
    <div class="fade">
        <div class="login fadeInLogin">
            <h4 class="title-login">
                Đăng Nhập
            </h4>

            @using (Html.BeginForm("slogin", "Home"))
            {
                @Html.AntiForgeryToken()
                <div class="login-form">
                    <div class="row" style="position: relative;">


                        @if (ViewBag.msg != null)
                        {
                            <span class="title failed">

                                @ViewBag.msg

                            </span>
                        }


                        <div class="input-field">
                            @Html.EditorFor(model => model.std_name, new { htmlAttributes = new { @class = "form-control p_input" } })
                            <label for="username">Tài Khoản</label>
                        </div>
                        <div class="input-field">
                            @Html.PasswordFor(model => model.std_password, new { @class = "form-control p_input" })
                            <label for="password">Mật Khẩu</label>
                        </div>
                        <div class="login-btn">
                            <button type="submit" class="btn waves-effect waves-light green darken-4">Đăng Nhập</button>
                        </div>
                        <p class="sign-up">Don't have an Account?<a href="/Home/sregister"> Sign Up</a></p>
                    </div>
                </div>
            }

        </div>
    </div>

</body>

</html>


