@model webtnonline.Models.lop

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layoutnew.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="margin-left:200px;margin-right:200px;">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
           <h5>Tên lớp</h5>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenlop, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenlop, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />|
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}

<div>
   
</div>
